version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: dbt-unittest-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dbt_unittest
    ports:
      - 5432:5432
    healthcheck:
      test: [CMD-SHELL, pg_isready -U postgres]
      interval: 5s
      timeout: 5s
      retries: 5
