name: Unit tests with Core
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
# TODO uncomment when the workflow gets stable.
#    paths:
#      - macros/
#      - integration_tests/macros/

jobs:
  test-dbt-core:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # dbt-core 1.8
          - pip-requirements: requirements-1.8.txt
            python-version: "3.9"
          - pip-requirements: requirements-1.8.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.8.txt
            python-version: "3.11"
          # dbt-core 1.9
          - pip-requirements: requirements-1.9.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.9.txt
            python-version: "3.11"
          # dbt-core 1.10
          - pip-requirements: requirements-1.10.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.10.txt
            python-version: "3.11"
          - pip-requirements: requirements-1.10.txt
            python-version: "3.12"
          # dbt-core 1.11
          - pip-requirements: requirements-1.11.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.11.txt
            python-version: "3.11"
          - pip-requirements: requirements-1.11.txt
            python-version: "3.12"
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: dbt_unittest
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pip
        run: |
          pip install -U "pip>=25.0.0,<26.0.0"
      - name: Install dbt
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          # Use 'legacy-resolver' to speed up
          pip install -r "requirements/${{ matrix.pip-requirements }}"
      - name: Run unit tests
        id: run-unit-tests
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          bash run_unit_tests.sh
      # Save artifacts for debug
      - name: Save logs and artifacts if failed
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: save-logs-and-target-${{ matrix.python-version }}-${{ matrix.pip-requirements }}
          retention-days: 3
          path: |
            integration_tests/logs
            integration_tests/target
      - id: exit
        if: ${{ steps.run-unit-tests.outcome == 'failure' }}
        run: |
          exit 1
