name: Unit tests
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
# TODO uncomment when the workflow gets stable.
#    paths:
#      - macros/
#      - integration_tests/macros/

jobs:
  test-dbt-core:
    runs-on: ubuntu-latest
    env:
      DBT_DATA_PRIVACY_TEST_PROJECT: "${{ secrets.DBT_DATA_PRIVACY_TEST_PROJECT }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          # dbt-core 1.8
          - pip-requirements: requirements-1.8.txt
            python-version: "3.9"
          - pip-requirements: requirements-1.8.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.8.txt
            python-version: "3.11"
          # dbt-core 1.9
          - pip-requirements: requirements-1.9.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.9.txt
            python-version: "3.11"
          # dbt-core 1.10
          - pip-requirements: requirements-1.10.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.10.txt
            python-version: "3.11"
          - pip-requirements: requirements-1.10.txt
            python-version: "3.12"
          # dbt-core 1.11
          - pip-requirements: requirements-1.11.txt
            python-version: "3.10"
          - pip-requirements: requirements-1.11.txt
            python-version: "3.11"
          - pip-requirements: requirements-1.11.txt
            python-version: "3.12"
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pip
        run: |
          pip install -U pip==23.0.1
      - name: Install dbt
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          # Use 'legacy-resolver' to speed up
          pip install -r "requirements/${{ matrix.pip-requirements }}"
      - name: Run unit tests
        id: run-unit-tests
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          bash run_unit_tests.sh
      # Save artifacts for debug
      - name: Save logs and artifacts if failed
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: save-logs-and-target-${{ matrix.python-version }}-${{ matrix.pip-requirements }}
          retention-days: 3
          path: |
            integration_tests/logs
            integration_tests/target
      - id: exit
        if: ${{ steps.run-unit-tests.outcome == 'failure' }}
        run: |
          exit 1

  test-dbt-fusion:
    runs-on: ubuntu-latest
    env:
      DBT_DATA_PRIVACY_TEST_PROJECT: "${{ secrets.DBT_DATA_PRIVACY_TEST_PROJECT }}"
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dbt Fusion
        run: |
          curl -fsSL https://public.cdn.getdbt.com/fs/install/install.sh | sh -s -- --update
      - name: Run unit tests
        id: run-unit-tests
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          bash run_unit_tests.sh
      # Save artifacts for debug
      - name: Save logs and artifacts if failed
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: save-logs-and-target-fusion
          retention-days: 3
          path: |
            integration_tests/logs
            integration_tests/target
      - id: exit
        if: ${{ steps.run-unit-tests.outcome == 'failure' }}
        run: |
          exit 1
